<div class="jumbotron">
    <h1 class="display-3">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>
        Username:
        <input type="text" [(ngModel)]="userName" />
      </p>
      <p>
        Password:
        <input type="password" [(ngModel)]="password" />
      </p>  
      <p class="lead">
        <a class="btn btn-primary" href="#" role="button" (click)="login($event, userName, password)">Login</a>
    </p>
    <!-- <div *ngIf="result">
        <p>Logged in as: {{ result.firstName }}</p>
        <p>Logged in as: {{ result.userName }}</p>
      </div>         -->
      <div *ngIf="result">
        <p>Logged in as: {{ result.userName }}</p>
        <p>Logged in as: {{ result.password }}</p>
      </div>    
  </div>

